@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }
  h1 {
    @apply text-2xl;
  }
}

body {
  font-family: Quicksand, sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.dark {
  --color-bg-primary: #242424;
  --color-text-primary: #fefefe;
  --color-bg-secondary: #fefefe;
  --color-text-secondary: #242424;
}

.light {
  --color-bg-primary: #fefefe;
  --color-text-primary: #242424;
  --color-bg-secondary: #242424;
  --color-text-secondary: #fefefe;
}

.underliner {
  position: relative;
}

.underliner:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  height: 3px;
  width: 0;
  transition: all 300ms ease;
}

.underliner-color:after {
  background-color: #715df2;
}

.underliner:hover:after {
  left: 0;
  width: 100%;
}
